# WhatsApp Credentials

# Your WhatsApp Account SID
WHATSAPP_ACCOUNT_SID=

# Your WhatsApp Auth Token
WHATSAPP_AUTH_TOKEN=

# Your WhatsApp From Number
WHATSAPP_FROM_NUMBER=

# Your WhatsApp To Number
WHATSAPP_TO_NUMBER=